
		<nav class="navbar  navbar-expand-lg navbar-expand-md" style="background-color: rgb(8, 8, 65)">
			<div class="container-fluid">
				<div class="navbar-Brand">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
					<img src="assets/menu1.png" style="width:15px;height:15px">
					</button>
					<a href="http://swarnabharathi.com/"><span style="font-size:2.5vw;color:white;font-family: 'Times New Roman', Times, serif"> <img src="assets/logo.png" class="img-fluid" style="max-width:5%;">&nbsp; SWARNA BHARATHI PUBLIC SCHOOL</span></a>
					
				</div>
				<div  class="collapse navbar-collapse justify-content-end"  id="navbar-collapse">
					<ul class="navbar-nav navbar-right navbar-right">
						<li class="active"><a  class="nav-link" routerLink="/home">HOME</a></li>&nbsp;&nbsp;
						<li ><a class="nav-link" style="color:white"  routerLink="/contact">CONTACT</a></li>&nbsp;&nbsp;	

					</ul>
				</div>
			</div>
		</nav>
	
<div class="container-fluid" style="text-align: center">
<div id="crs" class="carousel slide" data-ride="carousel">

	<ul class="carousel-indicators">
		<li data-target="#crs" data-slide-to="0" class="active"></li>
		<li data-target="#crs" data-slide-to="1"></li>
		<li data-target="#crs" data-slide-to="2"></li>
		<li data-target="#crs" data-slide-to="3"></li>
	
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="assets/carousel1.jpg"  class="img-fluid rounder"  style="max-width:100%">
		</div>
		<div class="carousel-item">
			<img src="assets/carousel2.jpg"  class="img-fluid rounder"  style="max-width:100%">
		</div>
		<div class="carousel-item">
			<img src="assets/carousel3.jpg"  class="img-fluid rounder"  style="max-width:100%">
		</div>
		<div class="carousel-item">
			<img src="assets/carousel4.jpg"  class="img-fluid rounder"  style="max-width:100%">
		</div>

	<a class="carousel-control-prev" href="#crs" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#crs" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	  </a>
</div>
</div>
<br>
<div class="container-fluid rounded" style="background-color: rgb(38, 113, 116);">
	<div class="row">
		<div class="card col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background-image:url(assets/school1.jpg)">
			<div class="card-body">
				<h4 style="color: rgb(1,1,56);font-family: s-apple-system ">SWARNA BHARATHI</h4>
				<p class="clr">Swarna Bharathi Educational Institution was established
					  in the year 1999 from classes
					   L.K.G. to 10th class. 
					   The school started with the aim 
					   of providing education to keep 
					   the education in the reach of 
					   all economic categories.</p>
			</div>
		</div>
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
			<video id="myVideo" class="col-lg-5 video-fluid z-depth-1" autoplay loop controls>
				<source src="assets/video.mp4" type="video/mp4" />
			  </video>
			  
		
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
		<div class="card col-lg-3 " style="background-image:url(assets/testimonial.jpg)">
			<div class="card-body">
				<h4 style="color: rgb(255, 255, 255);font-family: -apple-system">Facilities</h4>
				<ul class="fac">
					<li>Library</li>
					<li>Playground</li>
					<li>School Bus</li>
					<li>24/7 CCTV Surveillance</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
	<div class="card" style="background-color: transparent">
		<div class="card-body row" style="text-align: start">
			<div class="col-lg-10">
			<span style="font-weight:bold;font-family: serif;color: rgb(61, 3, 61)">CHAIRMAN'S MESSAGE</span>
			<p style="font-family: cursive;color: rgb(65, 3, 3)">Every parent's dream is to see their childrens success. We are here to help those through our pedagogy
				 as we believe that education is more than books in child's life.</p>
			
			</div>
			<div class="col-lg-2" >
				<img src="assets/logo.png" class="rounded " style="width:100px;height:100px;">
			</div>
	</div>
</div>
</div>
  





        <!-- <div class="container" style="padding:4vw;text-align: center">
            <img src="assets/school.jpg" class="img-fluid rounded"  style="max-width:40%">&nbsp;
			<img src="assets/school2.jpg" class="img-fluid rounder"  style="max-width:40%">
			
        </div> -->